{% extends 'base.html.twig' %}

{% block body %}
    <div class="centered">
        <h1 class="centered">Політичний Простір</h1>

        <div id="the-basics">
            <input class="typeahead" type="text" placeholder="Введіть імя депутата">
        </div>
    </div>
    <div class="player">
        <div class="youtube">
            <iframe id="player" width="620" height="430" src="https://www.youtube.com/embed/{{ video.youtubeId }}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="list">
            <ul>
                {% for tag in video.tags %}
                    {% if tag.timeOffset != 0 %}
                        <li data-href="https://www.youtube.com/embed/{{ video.youtubeId }}?start={{ tag.timeOffset }}&autoplay=1">
                            <span class="time">{{ tag.time|date('H:i') }}</span> &ndash; {{ tag.title }}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .centered {
            text-align: center;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock javascripts %}
